services:
  iris:
    build: .
    init: true
    container_name: iris4h
    ports:
      - "1972:1972"
#      - "4002:4002"
#      - "1999:1999"
    environment:
      - TZ=JST-9
      - ISC_CPF_MERGE_FILE=/tmp/merge.cpf # 起動時の設定を適用
      - ISC_DATA_DIRECTORY=/durable/iscdata # 永続ボリュームの指定
    command:  --key /tmp/iris.key # 指定した場所からIRIS インスタンスのmgr/ ディレクトリにライセンス・キーをコピー
    volumes:
      - ./licenses/iris.key:/tmp/iris.key
      - ./merge/merge.cpf:/tmp/merge.cpf
      - ./durable:/durable    

  webgw:
    image: containers.intersystems.com/intersystems/webgateway:latest-em
    container_name: webgw1
    init: true

    ports:
      - 80:80
      - 443:443
    environment:
    - ISC_CSP_CONF_FILE=/webgateway-shared/CSP.conf
    - ISC_CSP_INI_FILE=/webgateway-shared/CSP.ini
    volumes:
    - ./webgateway:/webgateway-shared
